
<!-- Thanks to codepen.io/brav0 for pointing out that AdBlock Plus blocks the old "social-icons" class: -->
<ul class="soc">
 
<li><a id="trigger-overlay" href="https://honeybee-yj-ay.github.io/#0section" class="icon-8 email" title="Home">첫 화면</a></li>
<li><a href="https://honeybee-yj-ay.github.io/#2section" class="icon-26 twitter" title="Contact1">신랑댁 연락처</a></li>
<li><a href="https://honeybee-yj-ay.github.io/#3section" class="icon-26 twitter" title="Contact2">신부댁 연락처</a></li>
<li><a href="https://honeybee-yj-ay.github.io/#6section" class="icon-13 github" title="Location">오시는 길</a></li>
<li><a href="https://honeybee-yj-ay.github.io/Gallery.html" class="icon-17 linkedin" title="Gallery">사진첩</a></li>


</ul>
