@media only screen and (orientation: landscape) {

  /* Defining each section background and styles
  * --------------------------------------- */
  #section0{
    background-image: url(/assets/images/honeybee/main.jpg);
    padding: 6% 0 0 0;
  }

  #section1{
    background-image: url(/assets/images/honeybee/leanonme.jpg);
    padding: 6% 0 0 0;
  }

  #section2{
    background-image: url(/assets/images/honeybee/bee.jpg);
    padding: 6% 0 0 0;
  }
  #section3{
    background-image: url(/assets/images/honeybee/honey.jpg);
    padding: 6% 0 0 0;
  }
  #section4{
    background-image: url(/assets/images/honeybee/lips.jpg);
    padding: 6% 0 0 0;
  }



}

@media only screen and (orientation: portrait) {



      /* Defining each section background and styles on portrait orientation
      * --------------------------------------- */
	  #section0{
	    background-image: url(/assets/images/honeybee/main.jpg);
	    padding: 6% 0 0 0;
	  }

	  #section1{
	    background-image: url(/assets/images/honeybee/leanonme.jpg);
	    padding: 6% 0 0 0;
	  }

	  #section2{
	    background-image: url(/assets/images/honeybee/bee.jpg);
	    padding: 6% 0 0 0;
	  }
	  #section3{
	    background-image: url(/assets/images/honeybee/honey.jpg);
	    padding: 6% 0 0 0;
	  }
	  #section4{
	    background-image: url(/assets/images/honeybee/lips.jpg);
	    padding: 6% 0 0 0;
	  }

}
