@media only screen and (orientation: landscape) {
    /* Defining each section background and styles
    * --------------------------------------- */
    #section0{
        background-image: url(/assets/images/honeybee/main.jpg);
        background-position: center center;
        padding: 75% 0 0 0;
    }

    #section1{
        background-image: url(/assets/images/honeybee/leanonme.jpg);
        padding: 75% 0 0 0;
    }

    #section2{
        background-image: url(/assets/images/honeybee/bee.jpg);
        padding: 75% 0 0 0;
    }
    #section3{
        background-image: url(/assets/images/honeybee/honey.jpg);
        padding: 75% 0 0 0;
    }
    #section4{
        background-image: url(/assets/images/honeybee/lips.jpg);
        padding: 6% 0 0 0;
    }
    #section5{
        padding: 6% 0 0 0;
    }
    #section6{
        background-image: url(/assets/images/honeybee/finale.jpg);
        padding: 6% 0 0 0;
    }

    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
}

@media only screen and (orientation: portrait) {
    /* Defining each section background and styles on portrait orientation
    * --------------------------------------- */
    #section0{
        background-image: url(/assets/images/honeybee/main_portrait.jpg);
        background-position: center center;
        padding: 75% 0 0 0;
    }

    #section1{
        background-image: url(/assets/images/honeybee/leanonme_portrait.jpg);
        padding: 6% 0 0 0;
    }

    #section2{
        background-image: url(/assets/images/honeybee/bee.jpg);
        padding: 6% 0 0 0;
    }
    #section3{
        background-image: url(/assets/images/honeybee/honey.jpg);
        padding: 6% 0 0 0;
    }
    #section4{
        background-image: url(/assets/images/honeybee/lips.jpg);
        padding: 6% 0 0 0;
    }
    #section5{
        padding: 6% 0 0 0;
    }
    #section6{
        background-image: url(/assets/images/honeybee/finale.jpg);
        padding: 6% 0 0 0;
    }
}
