@media only screen and (orientation: landscape) {
    /* Defining each section background and styles
    * --------------------------------------- */
    #section0{
        background-image: url(/assets/images/honeybee/main_lowres_landscape.jpg);
        background-position: center right;
        background-size: auto 100%;
        text-align: left;
        font-size: 2vh;
        padding: 6% 50% 0 0 ;
    }

    #section1{
        background-image: url(/assets/images/honeybee/leanonme_lowres_landscape.jpg);
        background-position: center right;
        background-size: auto 100%;
        text-align: left;
        font-size: 1.3vh;
        padding: 6% 50% 0 0 ;
    }

    #section2{
        background-image: url(/assets/images/honeybee/bee_lowres_landscape.jpg);
        background-position: center right;
        background-size: auto 100%;
        text-align: left;
        font-size: 2vh;
        padding: 6% 50% 0 0 ;
    }
    #section3{
        background-image: url(/assets/images/honeybee/honey_lowres_landscape.jpg);
        background-position: center right;
        background-size: auto 100%;
        text-align: left;
        font-size: 2vh;
        padding: 6% 50% 0 0 ;
    }
    #section4{
        background-color: cornsilk;
        font-size: 2vh;
        padding: 6% 0 0 0;
    }
    #section5{
        background-image: url(/assets/images/honeybee/dying_lowres_landscape.jpg);
        background-position: center right;
        background-size: auto 100%;
        background-repeat: no-repeat;
        text-align: left;
        font-size: 2vh;
        padding: 6% 50% 0 0 ;
    }
    #section6{
        background-image: url(/assets/images/honeybee/dying2_lowres_landscape.jpg);
        background-position: center right;
        background-size: auto 100%;
        background-repeat: no-repeat;
        text-align: left;
        font-size: 2vh;
        padding: 6% 50% 0 0 ;
    }
    #section7{
        background-image: url(/assets/images/honeybee/thumbnail.jpg);
        background-position: center right;
        background-size: auto 100%;
        background-repeat: no-repeat;
        text-align: left;
        font-size: 2vh;
        padding: 6% 50% 0 0 ;
    }

    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
}

@media only screen and (orientation: portrait) {
    /* Defining each section background and styles on portrait orientation
    * --------------------------------------- */
    #section0{
        background-image: url(/assets/images/honeybee/main_lowres_portrait.jpg);
        background-position: center center;
        padding: 75% 0 0 0;
    }

    #section1{
        background-image: url(/assets/images/honeybee/leanonme_lowres.jpg);
        background-position: center center;
        font-size: 2vh;
        padding: 75% 0 0 0;
    }

    #section2{
        background-image: url(/assets/images/honeybee/bee_lowres.jpg);
        background-position: center center;
        padding: 75% 0 0 0;
    }
    #section3{
        background-image: url(/assets/images/honeybee/honey_lowres.jpg);
        background-position: center center;
        padding: 75% 0 0 0;
    }
    #section4{
        background-position: center center;
        background-color: cornsilk;
        padding: 6% 0 0 0;
    }
    #section5{
        background-image: url(/assets/images/honeybee/dying_lowres.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 70% 0 0 0;
    }
    #section6{
        background-image: url(/assets/images/honeybee/dying2_lowres.jpg);
        background-position: center center;
        background-size: cover;
        padding: 80% 0 0 0;
    }
    #section7{
        background-image: url(/assets/images/honeybee/thumbnail.jpg);
        background-position: center center;
        background-size: cover;
        padding: 80% 0 0 0;
    }
}
